.baloon {
  position: absolute;
  top: 50px;
  -webkit-animation: fly 10s infinite leaner;
  left: 20px;
  display: block;
}
@-webkit-keyframes fly {
  0% {
    left: -5%;
    top: 50px;
  }
  50% {
    left: 40%;
    top: 30px;
  }
  100% {
    left: 100%;
    top: 55px;
  }
}
